html:not(.dark) header svg.h-6 {
    -webkit-filter: invert(100%);
    filter: invert(70%);
}

button[dusk='update-and-continue-editing-button'], button[dusk='create-and-add-another-button'] {
    display: none;
}